<%

let meta = {
	creates: {
		fileName: "lib/" 
		+ Formatter.snakeCase(APPNAME) 
		+ "_web/templates/" 
		+ Formatter.snakeCase(entity.getName()) 
		+ "/form.html.eex"
	},
	depends_on: [
		{ template: "../view/view.template.ejs", data: {entity: entity} }
	]
} 

let props = entity.getProps().filter(prop => prop.getName() != "ID")

function fmtName(propName) {
    return Formatter.snakeCase(propName)
}

%>

<%%= form_for @changeset, @action, fn f -> %%>
  <%%= if @changeset.action do %%>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <%% end %%>

  <% props.forEach(function(p) { %>
		<%%= label f, :<%=fmtName(p.getName()) %> %%>
	<% if(p.getType() == 'text') { %>
		<%%= textarea f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'email') { %>
		<%%= email_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'url') { %>
		<%%= url_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'phone') { %>
		<%%= telephone_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'integer') { %>
		<%%= number_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'float') { %>
		<%%= number_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'double') { %>
		<%%= number_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'date') { %>
		<%%= date_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'time') { %>
		<%%= time_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'datetime') { %>
		<%%= datetime_local_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'boolean') { %>
		<%%= checkbox f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'string') { %>
		<%%= text_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'audio') { %>
		<%%= file_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'image') { %>
		<%%= file_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'video') { %>
		<%%= file_input f, :<%=fmtName(p.getName()) %> %%>
	<% } if(p.getType() == 'file') { %>
		<%%= file_input f, :<%=fmtName(p.getName()) %> %%>
	<% } %>
		<%%= error_tag f, :<%=fmtName(p.getName()) %> %%>
  <% }) %>

  <div>
    <%%= submit "Save" %%>
  </div>
<%% end %%>
